<!DOCTYPE html>
<html>
<head>
    <title>Heatmap Example</title>
    <!-- Include heatmap.js library -->
    <script src="path_to_heatmap.js"></script>
</head>
<body>
    <h1>Click Heatmap</h1>
    <div id="heatmap-container" style="width: 100%; height: 100vh;"></div>
    <script>
        // JavaScript code to generate the heatmap
        var heatmapData = {{ heatmap_data | tojson | safe }}; // Pass data from Flask to JavaScript

        var heatmapInstance = h337.create({
            container: document.getElementById('heatmap-container'),
            radius: 20
        });

        heatmapInstance.setData({ data: heatmapData });
    </script>
</body>
</html>
